@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding-bottom: 250px;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --black: #11121c;
  --white: #ffffff;
  --tw-color1: #e6f85e;
  --tw-color1-hover: #e6f85e;
}

body {
  background-size: cover;
  background-color: black;
  background-repeat: no-repeat; /* Added to prevent repeating */
  background-attachment: fixed; /* Keeps the background fixed while scrolling */
  font-family: "Inter", sans-serif;
  color: var(--white);
  display: flex;
  margin: 0;
}

h2 {
  font-size: 2rem;
}
