.container {
  margin-top: 96px;
  display: flex;
  width: 100%;
  position: relative;  
  padding: 0 24px;

}


.connectWalletButton {
  background-color: #fe8400 !important ;
  cursor: pointer;
  color: #1c1c1c;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  position: absolute;

}

.connectWalletButton:hover {
  background-color: #ee7b00 !important;
  color: #fff;
}


